{% extends 'index.html' %}

<!-- title -->
{% block title %}User Page{% endblock %}

<!-- body -->
{% block content %}
<div class="container top-margin user-container">
	<div class="row">
		<div class="col-md-6">
			<h2>Hi {{u.username.capitalize()}}!</h2>
			<h4>Welcome to your dashboard. How it works:</h4>
			<ul>
				<li>Choose which side of the table.</li>
				<li>Enter the location and then date.</li>
				<li>
					Hit Add and weather details will show on the chosen side of the
					dashboard.
				</li>
			</ul>
			<p>
				*Please note that the we can only generate up to 5 days of weather
				forecast counting from tomorrow's date on any location for now.
			</p>
		</div>
		<div class="col-md-6">
			<form id="form-user" method="POST">
				{{form.hidden_tag()}}

				<!-- input -->
				{% for field in form if field.widget.input_type != 'hidden' %}
				<p id="input-weather">
					{{field.label(class_='form-label ')}} {{field(class_='form-control
					input-user')}}

					<!-- errors -->
					{% for error in field.errors %}
					<span class="text-danger">{{error}}</span>
					{% endfor %}
				</p>

				{% endfor %}

				<button type="Add" class="btn btn-success">Add</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 column">
			<h3 class="column-left">
				<span id="left-title">Business Travel</span>
				<i class="fas fa-edit h3-fa"></i>
			</h3>
		</div>
		<div class="col-md-6 column">
			<h3 class="column-right">
				<span id="right-title">Home</span> <i class="fas fa-edit h3-fa"></i>
			</h3>
		</div>

		<div class="col-md-6">
			{% for w in l_weathers%}
			<div class="weather">
				<div class="card" style="width: 18rem">
					<p class="card-img-top align-left">{{w.date}}</p>
					<p class="card-img-top align-right">{{w.location}}</p>
					<div class="card-body">
						<h5 class="card-title">{{w.temperature}} <span>&#176;</span></h5>
						<p class="card-text">Humidity: {{w.humidity}}%</p>
						<a href="/weather/{{w.id}}/edit" class="btn btn-ptimary"
							><i class="fas fa-edit"></i
						></a>
						<a href="/weather/{{w.id}}/delete" class="btn btn-ptimary"
							><i class="fa-sharp fa-solid fa-trash"></i
						></a>
					</div>
				</div>
			</div>
			{% endfor%}
		</div>
		<div class="col-md-6">
			{% for w in r_weathers%}
			<div class="weather">
				<div class="card" style="width: 18rem">
					<p class="card-img-top align-left">{{w.date}}</p>
					<p class="card-img-top align-right">{{w.location}}</p>
					<div class="card-body">
						<h5 class="card-title">{{w.temperature}} <span>&#176;</span></h5>
						<p class="card-text">Humidity: {{w.humidity}}%</p>
						<a href="/weather/{{w.id}}/edit" class="btn btn-ptimary"
							><i class="fas fa-edit"></i
						></a>
						<a href="/weather/{{w.id}}/delete" class="btn btn-ptimary"
							><i class="fa-sharp fa-solid fa-trash"></i
						></a>
					</div>
				</div>
			</div>
			{% endfor%}
		</div>
	</div>
</div>
{% endblock %}
